.Header{
    background: #F9FAFB;
    border-radius: 8px;
    color: #6B7280;
    width: 1170px;
    height: 40px;
    display: flex;
    font-size: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.HeaderName{
    padding-left: 24px;
    display: flex;
    width: 255px;
    justify-content: start;
    align-items: center;
}
.HeaderDate{
    padding-left: 24px;
    display: flex;
    width: 720px;
    justify-content: start;
    align-items: center;
}
.HeaderState{
    padding-left: 24px;
    display: flex;
    width: 200px;
    justify-content: start;
    align-items: center;
}